.edit-modal-form {
  /*
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    */
  align-items: center;
  text-align: center;
  padding: 20px 50px;
  width: 80%;
  background-color: var(--white);
}

.edit-modal-form h1 {
  font-size: 1.4rem;
}

.edit-form-submit {
  margin-top: 20px;
  width: 50%;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
}

/* Start Scope : edit modal "children" style */
.edit-products-form-group {
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 0 20px;
    border-radius: 10px;
}

.edit-product-input {
    outline: none;
    background-color: unset;
    border: none;
    font-size: 1.1rem;
    width: 100%;
    padding: 8px 10px;
}
/* end Scope: edit modal "children" style */
